FORMAT: 1A
HOST: http://adminapi.persoo.cz

# Persoo administration API
API for configuring Persoo accounts. 

Persoo has two APIs - one for administration (this one) and another for reporting web visitors' behavior, querying for
recommendations and other web personalizations ([RTP API](http://docs.persoortp.apiary.io/))

**Tip:** Persoo administration running at admin.persoo.cz is a JavaScript application 
running in your browser using this REST API. If you want to play with this API, just 
open Persoo administration, open Chrome console, and watch requests in network communication.
You will see exact data for your Persoo account.

**Note:** This API is intended to be used internally by the Persoo team and our business partners and is therefore
quite low level. Many things will not make much sense from the outsider's point of
view. However, you are always welcome to contact us, and we will do our best to fit your needs.

## Allowed HTTP requests

- `POST` - Creates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or a list of resources
- `DELETE` - Deletes a resource

## Typical server responses

- 200 `OK` - The request was successful and returned some content.
- 201 `Created` - The request was successful, and a resource was created.
- 204 `No Content` - The request was successful but returned no content.
- 400 `Bad Request` - The request wasn't understood or was missing the required parameters.
- 401 `Unauthorized` - Authentication token is invalid or has expired. (Try logging in again.)
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - The requested resource wasn't found.
- 409 `Conflict` - Resource requested to be created already exists.

## Error reporting

Error responses (status 4xx/5xx) contain a JSON body with description of the error(s) in the following manner:
```
{
    "errors": [
        {
            "message": "Unauthorized."
        }
    ]
}
```
```
{
    "errors": [
        {
            "message": "Config structure validation: Field 'adminConfig.settings.productImport' missing.",
            "path": ["adminConfig", "settings", "productImport"]
        },
        {
            "message": "Config structure validation: Field 'adminConfig.settings.credentials[2]' isn't of type 'object'."
            "path": ["adminConfig", "settings", "credentials", 2]
        }
    ]
}
```
```
{
    "errors": [
        {
            "message": "Internal server error (ID f6429320a53711e4b0780002a5d5c51b)."
        }
    ]
}
```

## Basic API structure
A common pattern in our API is a following set of methods: list, get, put, delete. List returns all existing
objects, get returns one particular object (usually specified by ID), put updates the object and delete removes
the object.

It's beyond scope of this documentation to describe all requisites an object of particular type needs
to satisfy in order to be accepted since there's usually a very complicated logic behind it. Typically, you will
only need to slightly modify a few things (e.g. name), so all you need to do is get an object from the server,
change one value and send it back as it is.  If you need to build a more complex logic around this API, do not
hesitate to contact us and we'll discuss further possibilities.

**Note:** Some fields (commonly `id`) are accepted but ignored by the server for update operations. This
is so that you actually can send back the exact JSON you received. However, such fields will not be
updated and response may contain a different value of this field.

For example, you can send us something like this:

    {
        "name": "My Object",
        "id": "myModifiedID"
    }
        
And receive the following response:

    {
        "name": "My Object",
        "id": "e8fb4ab5e6f44912a911fead7f286363"
    }
        
It means that `id` have not been changed (because such behavior is not supported nor desired).

# Group Users
Users are owners of accounts. Each user has unique credentials (ID, password) to access the system, associated email (unique in the system), role (common user or superuser), and other data (name, ...).

## Login [/login]
### login [POST]
Authenticates the user. If a given combination of ID or email and MD5 password hash is valid, a token cookie will be set
so that all further requests are automatically authorized. The token expires 30 minutes after the last request.

MD5 password hash must be represented using 32 hexadecimal digits (0-9, A-F) and without any sort of prefix or postfix.

+ Request (application/json)

    + Body
    
            {
                "id": "e8fb4ab5e6f44912a911fead7f286363",
                "passwordHash": "5f4dcc3b5aa765d61d8327deb882cf99"
            }
            
            or
            
            {
                "email": "user@email.com",
                "passwordHash": "5f4dcc3b5aa765d61d8327deb882cf99"
            }

+ Response 204

    + Headers
    
            Set-Cookie: Expires=Mon, 30-Jul-2014 09:12:42 GMT; persooAuthToken={token}

+ Response 401

## Logout [/logout]
### logout [POST]
Deletes a cookie with token. Further requests cannot be handled until user authenticates again.

Please note that token cookie also expires 30 minutes after the last request so this might be the reason
why your request got rejected even without logging out.

+ Request

    + Headers
    
            Cookie: persooAuthToken={token};
            
+ Response 204

    + Headers
    
            Set-Cookie: Expires=Thu, 01 Jan 1970 00:00:00 GMT; persooAuthToken={token}

## Users [/users]
A user's details.

### listUsers [GET]
Lists all existing users. Please note that this method is only available for superusers.

+ Response 200 (application/json)

        [
                {
                    "creationDate": "2015-10-05 16:14:03",
                    "creationTimestamp": 1444061643000,
                    "email": "test1@example.com",
                    "id": "e8fb4ab5e6f44912a911fead7f286363",
                    "lastLoginDate": "2016-01-24 17:29:06",
                    "lastLoginTimestamp": 1453656546378,
                    "name": "Test 1",
                    "role": "common"
                },
                {
                    "creationDate": "2015-10-16 16:16:13",
                    "creationTimestamp": 1445012173478,
                    "email": "test2@example.com",
                    "id": "db7237e211dd4a578e178886d75e9cd7",
                    "lastLoginDate": "2015-10-26 12:21:50",
                    "lastLoginTimestamp": 1445862110696,
                    "name": "Test 2",
                    "role": "superuser"
                }
        ]

### newUser [POST]
Create a new user with specified permissions (either `common` or `superuser`). Please note that this method is
only available for superusers.

+ Request (application/json)

        {
            "email": "example@example.com",
            "passwordHash": "001122334455667788aabbccddeeff00",
            "role": "superuser",
            "name": "Administrator"
        }

+ Response 201 (application/json)

        {
            "creationDate": "2016-01-24 18:14:33",
            "creationTimestamp": 1453659273504,
            "email": "example@example.com",
            "id": "f215609b4959464796ca88f8935b0b5c",
            "lastLoginDate": null,
            "lastLoginTimestamp": null,
            "name": "Administrator",
            "role": "superuser"
        }

+ Response 400 (application/json)

        {
            "errors": [
                {
                    "message": "Bad Request"
                }
            ]
        }

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 409 (application/json)

        {
            "errors": [
                {
                    "message": "User already exists."
                }
            ]
        }

## User [/users/{userID}]
A user's details.

+ Parameters

    + userID (required, string, `e8fb4ab5e6f44912a911fead7f286363`) ... ID of the user to perform the action on. Value `"current"` can be used for the user logged in.

### getUser [GET]
Retrieve the user details by ID. Use `current` instead of ID for currently logged user. Please note that only
superusers can access informations about other users.

+ Response 200 (application/json)

        {
            "creationDate": "2015-10-05 16:14:03",
            "creationTimestamp": 1444061643000,
            "email": "example@example.com",
            "id": "ae0bcdd6c7184fd282729c8213f4928d",
            "lastLoginDate": "2016-01-24 17:29:06",
            "lastLoginTimestamp": 1453656546378,
            "name": "super",
            "role": "superuser"
        }

+ Response 403
+ Response 404

        {
            "errors": [
                {
                    "message": "Target user not found."
                }
            ]
        }

### updateUser [PUT]
Updates the user details for user with specified ID. Value `'current'` might be used for currently logged user instead of ID.

Please note that both given email and username must be unique and that updating other users' details is only available to superusers.

+ Request (application/json)

        {
            "email": "example@example.com",
            "passwordHash": "f215609b4959463795cb88f8935b0b5c",
            "role": "superuser",
            "name": "Example",
            "otherField": "otherValue"
        }
        
+ Response 200 (application/json)

        {
            "creationDate": "2016-01-24 18:14:33",
            "creationTimestamp": 1453659273504,
            "email": "example@example.com",
            "id": "f215609b4959463795cb88f8935b0b5c",
            "lastLoginDate": "2016-01-24 18:34:14",
            "lastLoginTimestamp": "1453660454157",
            "name": "Example",
            "role": "superuser",
            "otherField": "otherValue"
        }

+ Response 400 (application/json)

        {
            "errors": [
                {
                    "message": "Bad Request"
                }
            ]
        }

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Target user not found."
                }
            ]
        }

+ Response 409 (application/json)

        {
            "errors": [
                {
                    "message": "Internal server error; request ID: decf94ab30d24afba25b1d62196cbc6f"
                }
            ]
        }

### deleteUser [DELETE]
Deletes the user by ID. Value `current` might be used for the currently logged user. Please note that deleting
other users is only allowed to superusers.

+ Response 204

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Target user not found."
                }
            ]
        }

## Change password [/users/{userID}/changePassword]

+ Parameters

    + userID (required, string, `e8fb4ab5e6f44912a911fead7f286363`) ... ID of the user to perform the action on. Value `"current"` can be used for the user logged in

### changePassword [POST]
Changes a password of the user. Note that you can also use method `updateUser` instead.

+ Request (application/json)

        {
            "passwordHash": "5f4dcc3b5aa765d61d8327deb882cf99",
            "newPasswordHash": "14a88b9d2f52c55b5fbcf9c5d9c11875"
        }
        
+ Response 204
+ Response 400 (application/json)

        {
            "errors": [
                {
                    "message": "Bad Request"
                }
            ]
        }

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Old password doesn't match."
                }
            ]
        }

+ Response 404

## Reset password [/users/resetPassword]

### resetPassword [POST]
**Not implemented so far.**

Resets user's password. The user will receive an email with a new password.

+ Request (application/json)

    + Body
        
            {
                "email": "user@email.com"
            }

+ Response 204
+ Response 404


# Group Account
Account is an elementary object in Persoo which contains its own scenarios, algorithms etc. Every account have unique ID which
is sometimes referred to as *API key*. Each user can have multiple accounts.

## Accounts [/accounts]
### listAccounts [GET]
Lists all accounts assigned to the currently authorized user. Please note that value `id` found in the returned
objects is also sometimes referred to as *API key*.

+ Response 200 (application/json)

        [
            {
                "creationDate": "2016-01-12 12:54:27",
                "creationTimestamp": 1452603267829,
                "id": "nivvvbdepi6i7410t44lcpff",
                "modificationDate": "2016-01-19 11:34:38",
                "modificationTimestamp": 1453203278061,
                "name": "demo.example.com"
            }
        ]

### newAccount [POST]
Create a new account.
+ Request (application/json)

        {
            "name": "My account"
        }

+ Response 201 (application/json)

        {
            "creationDate": "2016-01-24 23:23:19",
            "creationTimestamp": 1453677799378,
            "id": "oq7i8gbuc5bi4v2uhgtp25u2",
            "modificationDate": null,
            "modificationTimestamp": null,
            "name": "My Account"
        }

## Account [/accounts/{accountID}]
A single account object with basic data

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### getAccount [GET]
Retrieves informations about the account.

+ Response 200 (application/json)

        {
            "creationDate": "2016-01-24 23:23:19",
            "creationTimestamp": 1453677799379,
            "id": "4959bc0ab5f24ac2a9688908adaf9e24",
            "modificationDate": "2016-01-24 23:23:20",
            "modificationTimestamp": 1453677800094,
            "name": "My Account"
        }

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

### deleteAccount [DELETE]
Deletes the account. Common users can only delete accounts belonging to them. Superuser permissions are needed
otherwise.

+ Response 204

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

## Rendering account [/accounts/{accountID}/render?environment={environment}]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + environment (required, string, `production`) ... `production` or `test`
    
### renderAccount [POST]
Renders the account.

+ Response 204

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

## Changes [/accounts/{accountID}/changes]

Manipulation of the differences between the current state (test environment) and the last stable state (production environment).

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    

### getChanges [GET]
Get description of the differences between the current and the last stable state.

The list of changes is only available for certain categories, namely the following ones: A/B tests (`abTests`),
Algorithms (`algorithms`), Campaigns (`campaigns`), Exports (`exports`), Imports (`imports`), Offers (`offers`),
Scenarios (`scenarios`) and Settings (`settings`). If `modified` is `true`, field `changes` is guaranteed to be
present, but it may be empty (which will occur if all changes have been made to other categories than those which
 are listed above).

+ Response 200 (application/json)
    + Body

            {
                "modified": true,
                "changes": {
                    "abTests": [
                        {
                            "id": "newABTest",
                            "name": "New A/B test",
                            "status": "created"
                        }
                    ],
                    "campaigns": [
                        {
                            "id": "exampleCampaign",
                            "name": "Example: Basket reminder",
                            "status": "modified"
                        }
                    ],
                    "exports": [
                        {
                            "id": "apsis",
                            "status": "deleted"
                        }
                    ]
                }
            }

### saveChanges [POST]
Make the current state the new last stable state. After this operation, the test and production environments are equal.

Note that common users can only save changes in the accounts belonging to them.

+ Response 204

+ Response 403

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 404

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

### deleteChanges [DELETE]
Reset the current state to the last stable state. After this operation, the test and production environments are equal.

Note that common users can only delete changes in the accounts belonging to them.

+ Response 204

+ Response 403

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 404

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

## Statistics [/accounts/{accountID}/statistics?timestampFrom={timestampFrom}&timestampTo={timestampTo}]

+ Parameters
    + timestampFrom (required, long, `43932000`) ... start the statistics with the day containing this timestamp (in UTC)
    + timestampTo (required, long, `300000000`) ... end the statistics with the day containing this timestamp (in UTC)

### getStatistics [GET]
Get daily statistics for an account.

If a metric isn't available for a particular day, `null` is used instead of a number value.

+ Response 200 (application/json)

        {
            "id": "niubci3ll8ig3dimo1lbjoqo",
            "timestamps": [
                0,
                86400000,
                172800000,
                259200000
            ],
            "dates": [
                "1970-01-01",
                "1970-01-02",
                "1970-01-03",
                "1970-01-04"
            ],
            "metrics": {
                "clicks": [
                    null,
                    null,
                    816,
                    3266
                ],
                "impressions": [
                    null,
                    null,
                    1679,
                    4590
                ],
                "someOtherMetric1": [
                    null,
                    null,
                    0.648905714812609,
                    0.07806533989738285
                ],
                "someOtherMetric2": [
                    null,
                    null,
                    783,
                    412
                ]
            }
        }

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

# Group Settings

A single account settings
 * event processing - you can map fields comming from dataLayer in page to required format, adjust parameters for algorithms in event processing, ....
 * credentials - if you want to access Persoo RTP API for user identification, you need to know authentication key.
 * integrations - set Google Analytics version, etc.
 * customDataflow - (advanced feature), i.e. to import transactions from department stores,...

## Settings [/accounts/{accountID}/settings]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on


### getSettings [GET]
Retrieves the account settings.
+ Response 200 (application/json)

        {
            "account": {
                "collectDataOnly": false,
                "name": "My Account"
            },
            "credentials": {
                "exportsAuthenticationKey": "ca33d2f1c1914db4826ec1acb6f50251",
                "rtpAuthenticationKey": "e2ea276dd92031bdaba12eee48918478"
            },
            "eventProcessing": {
                "affinityShortTermThresholds": {
                    "absoluteThreshold": 0.23,
                    "halfTime": 604800000,
                    "halfValueCount": 2,
                    "maxLastAccessAge": 2592000000,
                    "relativeThreshold": 0.005
                },
                "affinityThresholds": {
                    "absoluteThreshold": 0.5,
                    "halfTime": 15552000000,
                    "halfValueCount": 0,
                    "maxLastAccessAge": 31536000000,
                    "relativeThreshold": 0.005
                },
                "customDataflows": {
                    "dataflows": {
                    }
                },
                "customScheduledTasks": {
                    "scheduledTasks": {
                    }
                },
                "customWorkflows": {
                    "nodes": {
                    },
                    "workflows": {
                    }
                },
                "javascriptPreprocessor": "function process(io) {\n   /* var event = io.session.lastEvent;\n    event.newField = event.oldField; */\n}",
                "preferencesToFields": [
                ]
            },
            "identifications": {
                "idTypes": [
                    "email",
                    "userId"
                ]
            },
            "integrations": {
                "apsis": {
                    "apikey": "apsis apikey",
                    "isActive": false,
                    "mailingListName": "mailing list name",
                    "transactionEmailTemplate": "Newsletter Name"
                },
                "emailMessageQueue": {
                    "idType": "userId",
                    "isActive": false
                },
                "googleAnalytics": {
                    "debugMode": "off",
                    "dimension": "4",
                    "isActive": false,
                    "statsHandler": "default",
                    "tagDelimeter": "|",
                    "trackABTests": true,
                    "trackEvents": true,
                    "trackerName": "",
                    "useGTMTracker": false,
                    "valueDelimeter": ":",
                    "version": "_gaq"
                },
                "mailchimp": {
                    "apikey": "MailChimp API key",
                    "isActive": false,
                    "mailingListName": "mailing list name"
                },
                "mandrill": {
                    "apikey": "mandrill apikey",
                    "from": {
                        "email": "your-name@your-eshop.com",
                        "name": "Your sender name"
                    },
                    "googleAnalyticsDomains": [
                        "your-domain.cz"
                    ],
                    "isActive": false
                },
                "modgen": {
                    "database": "Modgen DB ID",
                    "hmacKey": "Modgen HMAC Key",
                    "isActive": false
                },
                "web": {
                    "customJavascriptOnPageLoad": "",
                    "trackEvents": true
                }
            },
            "pageTypes": [
                {
                    "id": "homepage",
                    "name": "Homepage",
                    "type": "productList"
                },
                {
                    "id": "detail",
                    "name": "Detail",
                    "type": "productDetail"
                },
                {
                    "id": "category",
                    "name": "Category",
                    "type": "productList"
                },
                {
                    "id": "basket",
                    "name": "Basket",
                    "type": "basket"
                },
                {
                    "id": "search",
                    "name": "Search results",
                    "type": "productList"
                },
                {
                    "id": "error",
                    "name": "Error, i.e. 404",
                    "type": "content"
                },
                {
                    "id": "other",
                    "name": "Other",
                    "type": "content"
                }
            ]
        }

### updateSettings [PUT]
Updates the account settings.
+ Request (application/json)

        {
            "account": {
                "collectDataOnly": false,
                "name": "My Renamed Account"
            },
            "credentials": {
                "exportsAuthenticationKey": "ca33d2f1c1914db4826ec1acb6f50251",
                "rtpAuthenticationKey": "e2ea276dd92031bdaba12eee48918478"
            },
            "eventProcessing": {
                "affinityShortTermThresholds": {
                    "absoluteThreshold": 0.23,
                    "halfTime": 604800000,
                    "halfValueCount": 2,
                    "maxLastAccessAge": 2592000000,
                    "relativeThreshold": 0.005
                },
                "affinityThresholds": {
                    "absoluteThreshold": 0.5,
                    "halfTime": 15552000000,
                    "halfValueCount": 0,
                    "maxLastAccessAge": 31536000000,
                    "relativeThreshold": 0.005
                },
                "customDataflows": {
                    "dataflows": {
                    }
                },
                "customScheduledTasks": {
                    "scheduledTasks": {
                    }
                },
                "customWorkflows": {
                    "nodes": {
                    },
                    "workflows": {
                    }
                },
                "javascriptPreprocessor": "function process(io) {\n   /* var event = io.session.lastEvent;\n    event.newField = event.oldField; */\n}",
                "preferencesToFields": [
                ]
            },
            "identifications": {
                "idTypes": [
                    "email",
                    "userId"
                ]
            },
            "integrations": {
                "apsis": {
                    "apikey": "apsis apikey",
                    "isActive": false,
                    "mailingListName": "mailing list name",
                    "transactionEmailTemplate": "Newsletter Name"
                },
                "emailMessageQueue": {
                    "idType": "userId",
                    "isActive": false
                },
                "googleAnalytics": {
                    "debugMode": "off",
                    "dimension": "4",
                    "isActive": false,
                    "statsHandler": "default",
                    "tagDelimeter": "|",
                    "trackABTests": true,
                    "trackEvents": true,
                    "trackerName": "",
                    "useGTMTracker": false,
                    "valueDelimeter": ":",
                    "version": "_gaq"
                },
                "mailchimp": {
                    "apikey": "MailChimp API key",
                    "isActive": false,
                    "mailingListName": "mailing list name"
                },
                "mandrill": {
                    "apikey": "mandrill apikey",
                    "from": {
                        "email": "your-name@your-eshop.com",
                        "name": "Your sender name"
                    },
                    "googleAnalyticsDomains": [
                        "your-domain.cz"
                    ],
                    "isActive": false
                },
                "modgen": {
                    "database": "Modgen DB ID",
                    "hmacKey": "Modgen HMAC Key",
                    "isActive": false
                },
                "web": {
                    "customJavascriptOnPageLoad": "",
                    "trackEvents": true
                }
            },
            "pageTypes": [
                {
                    "id": "homepage",
                    "name": "Homepage",
                    "type": "productList"
                },
                {
                    "id": "detail",
                    "name": "Detail",
                    "type": "productDetail"
                },
                {
                    "id": "category",
                    "name": "Category",
                    "type": "productList"
                },
                {
                    "id": "basket",
                    "name": "Basket",
                    "type": "basket"
                },
                {
                    "id": "search",
                    "name": "Search results",
                    "type": "productList"
                },
                {
                    "id": "error",
                    "name": "Error, i.e. 404",
                    "type": "content"
                },
                {
                    "id": "other",
                    "name": "Other",
                    "type": "content"
                }
            ]
        }
        
+ Response 200 (application/json)

        {
            "account": {
                "collectDataOnly": false,
                "name": "My Renamed Account"
            },
            "credentials": {
                "exportsAuthenticationKey": "ca33d2f1c1914db4826ec1acb6f50251",
                "rtpAuthenticationKey": "e2ea276dd92031bdaba12eee48918478"
            },
            "eventProcessing": {
                "affinityShortTermThresholds": {
                    "absoluteThreshold": 0.23,
                    "halfTime": 604800000,
                    "halfValueCount": 2,
                    "maxLastAccessAge": 2592000000,
                    "relativeThreshold": 0.005
                },
                "affinityThresholds": {
                    "absoluteThreshold": 0.5,
                    "halfTime": 15552000000,
                    "halfValueCount": 0,
                    "maxLastAccessAge": 31536000000,
                    "relativeThreshold": 0.005
                },
                "customDataflows": {
                    "dataflows": {
                    }
                },
                "customScheduledTasks": {
                    "scheduledTasks": {
                    }
                },
                "customWorkflows": {
                    "nodes": {
                    },
                    "workflows": {
                    }
                },
                "javascriptPreprocessor": "function process(io) {\n   /* var event = io.session.lastEvent;\n    event.newField = event.oldField; */\n}",
                "preferencesToFields": [
                ]
            },
            "identifications": {
                "idTypes": [
                    "email",
                    "userId"
                ]
            },
            "integrations": {
                "apsis": {
                    "apikey": "apsis apikey",
                    "isActive": false,
                    "mailingListName": "mailing list name",
                    "transactionEmailTemplate": "Newsletter Name"
                },
                "emailMessageQueue": {
                    "idType": "userId",
                    "isActive": false
                },
                "googleAnalytics": {
                    "debugMode": "off",
                    "dimension": "4",
                    "isActive": false,
                    "statsHandler": "default",
                    "tagDelimeter": "|",
                    "trackABTests": true,
                    "trackEvents": true,
                    "trackerName": "",
                    "useGTMTracker": false,
                    "valueDelimeter": ":",
                    "version": "_gaq"
                },
                "mailchimp": {
                    "apikey": "MailChimp API key",
                    "isActive": false,
                    "mailingListName": "mailing list name"
                },
                "mandrill": {
                    "apikey": "mandrill apikey",
                    "from": {
                        "email": "your-name@your-eshop.com",
                        "name": "Your sender name"
                    },
                    "googleAnalyticsDomains": [
                        "your-domain.cz"
                    ],
                    "isActive": false
                },
                "modgen": {
                    "database": "Modgen DB ID",
                    "hmacKey": "Modgen HMAC Key",
                    "isActive": false
                },
                "web": {
                    "customJavascriptOnPageLoad": "",
                    "trackEvents": true
                }
            },
            "pageTypes": [
                {
                    "id": "homepage",
                    "name": "Homepage",
                    "type": "productList"
                },
                {
                    "id": "detail",
                    "name": "Detail",
                    "type": "productDetail"
                },
                {
                    "id": "category",
                    "name": "Category",
                    "type": "productList"
                },
                {
                    "id": "basket",
                    "name": "Basket",
                    "type": "basket"
                },
                {
                    "id": "search",
                    "name": "Search results",
                    "type": "productList"
                },
                {
                    "id": "error",
                    "name": "Error, i.e. 404",
                    "type": "content"
                },
                {
                    "id": "other",
                    "name": "Other",
                    "type": "content"
                }
            ]
        }

# Group Imports
Importing data (products, categories, ...) from external URLs. You can also run imports manually
or see import status.

## Imports [/accounts/{accountID}/imports]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### listImports [GET]
Retrieve import settings for all available imports.

+ Response 200 (application/json)

        [
            {
                "isActive": true,
                "sourceURL": "http://eshop.com/export/xml/persoo.xml",
                "type": "xmlHeurekaProductFeed",
                "fieldsMapping" : {
                    "id" : {
                            "sourceField" : "id",
                            "type" : "string"
                    },
                    "title" : {
                            "sourceField" : "title",
                            "type" : "string"
                    },
                    "price" : {
                            "sourceField" : "price",
                            "type" : "double"
                    }
                },
                "customFieldsMapping" : {
                    "COLOR" : {
                            "sourceField" : "COLOR",
                            "type" : "string"
                    },
                    "AVAILABLE" : {
                            "sourceField" : "AVAILABLE",
                            "type" : "int"
                    },
                    "NOVINKA" : {
                            "sourceField" : "NOVINKA",
                            "type" : "string"
                    }
                },
                "javascriptPreprocessor": "function process(item) { return item; }"
            }
        ]

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Account not found."
                }
            ]
        }

### newImport [POST]
Creates a new import.

+ Request (application/json)

        {
            "customFieldsMapping": [
            ],
            "fieldsMapping": {
                "categoryID": {
                    "sourceField": "categoryID",
                    "type": "string"
                },
                "hierarchy": {
                    "sourceField": "hierarchy",
                    "type": "string"
                },
                "title": {
                    "sourceField": "title",
                    "type": "string"
                }
            },
            "name": "categories",
            "isActive": false,
            "itemElementName": "SHOPCATEGORY",
            "javascriptPreprocessor": "function process(item) {return {categoryID: item.CATEGORY, hierarchy: item.HIERARCHY, title: item.CATEGORYNAME};   }",
            "sourceURL": "example.com/input_categories.json",
            "type": "json"
        }

+ Response 200 (application/json)

        {
            "customFieldsMapping": [
            ],
            "fieldsMapping": {
                "categoryID": {
                    "sourceField": "categoryID",
                    "type": "string"
                },
                "hierarchy": {
                    "sourceField": "hierarchy",
                    "type": "string"
                },
                "title": {
                    "sourceField": "title",
                    "type": "string"
                }
            },
            "id": "e29af025d28545b1b06d7c279f48b468",
            "isActive": false,
            "itemElementName": "SHOPCATEGORY",
            "javascriptPreprocessor": "function process(item) {return {categoryID: item.CATEGORY, hierarchy: item.HIERARCHY, title: item.CATEGORYNAME};   }",
            "sourceURL": "example.com/input_categories.json",
            "type": "json"
        }

## Import [/accounts/{accountID}/imports/{importID}]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + importID (required, string, `products`) ... either "products" or "categories"

### getImport [GET]
Retrieves settings for particular import.

+ Response 200 (application/json)

        {   
            "id": "products",
            "isActive": true,
            "sourceURL": "http://eshop.com/export/xml/persoo.xml",
            "type": "xmlHeurekaProductFeed",
            "fieldsMapping" : {
                "id" : {
                        "sourceField" : "id",
                        "type" : "string"
                },
                "title" : {
                        "sourceField" : "title",
                        "type" : "string"
                },
                "price" : {
                        "sourceField" : "price",
                        "type" : "double"
                }
            },
            "customFieldsMapping" : {
                "COLOR" : {
                        "sourceField" : "COLOR",
                        "type" : "string"
                },
                "AVAILABLE" : {
                        "sourceField" : "AVAILABLE",
                        "type" : "int"
                },
                "NOVINKA" : {
                        "sourceField" : "NOVINKA",
                        "type" : "string"
                }
            },
            "javascriptPreprocessor": "function process(item) { return item; }"
        }

### updateImport [PUT]
Updates import settings.
+ Request (application/json)

        {
            "id": "products",
            "isActive": true,
            "sourceURL": "http://eshop2.com/export/xml/persoo.xml",
            "type": "xmlHeurekaProductFeed",
            "fieldsMapping" : {
                "id" : {
                        "sourceField" : "id",
                        "type" : "string"
                },
                "title" : {
                        "sourceField" : "title",
                        "type" : "string"
                },
                "price" : {
                        "sourceField" : "price",
                        "type" : "double"
                }
            },
            "customFieldsMapping" : {
                "COLOR" : {
                        "sourceField" : "COLOR",
                        "type" : "string"
                },
                "AVAILABLE" : {
                        "sourceField" : "AVAILABLE",
                        "type" : "int"
                },
                "NOVINKA" : {
                        "sourceField" : "NOVINKA",
                        "type" : "string"
                }
            },
            "javascriptPreprocessor": "function process(item) { return item; }"
        }

+ Response 200 (application/json)

        {
            "id": "products",
            "isActive": true,
            "sourceURL": "http://eshop2.com/export/xml/persoo.xml",
            "type": "xmlHeurekaProductFeed",
            "fieldsMapping" : {
                "id" : {
                        "sourceField" : "id",
                        "type" : "string"
                },
                "title" : {
                        "sourceField" : "title",
                        "type" : "string"
                },
                "price" : {
                        "sourceField" : "price",
                        "type" : "double"
                }
            },
            "customFieldsMapping" : {
                "COLOR" : {
                        "sourceField" : "COLOR",
                        "type" : "string"
                },
                "AVAILABLE" : {
                        "sourceField" : "AVAILABLE",
                        "type" : "int"
                },
                "NOVINKA" : {
                        "sourceField" : "NOVINKA",
                        "type" : "string"
                }
            },
            "javascriptPreprocessor": "function process(item) { return item; }"
        }

### deleteImport [DELETE]
Deletes the import.

+ Response 204

+ Response 403 (application/json)

        {
            "errors": [
                {
                    "message": "Not authorized for the operation requested."
                }
            ]
        }

+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Import not found."
                }
            ]
        }

## Run import [/accounts/{accountID}/imports/{importID}/run?environment={environment}]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + importID (required, string, `dc643a1514044cfc8040dd9b5186c60e`) ... ID of the import
    + environment (required, string, `production`) ... either `production` or `test`

### runImport [POST]
Runs import with specified ID.

+ Response 200 (application/json)

        {
            "id": "209e6be2-8488-4e99-ab9f-3620848cf1d2"
        }
        
+ Response 404 (application/json)

        {
            "errors": [
                {
                    "message": "Import not found."
                }
            ]
        }

## Get import status [/accounts/{accountID}/imports/{importID}/status]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + importID (required, string, `products`) ... ID of the import

### getImportStatus [GET]
Get import status:
* status is 
 * "green" - last import was OK, 
 * "yellow" - last import had problem, but previous/yesterdays import was OK, maybe source URL was down because of server updates, etc.
 * "red" - 2 or more last imports had problems
* lastSuccessTimestamp - timestamp of last successful import
* lastSuccessDate - human readable date of last successful import
* history of at most 10 imports with a detailed log

+ Response 200 (application/json)

        [
            {
                "environment": "production",
                "status": "green",
                "lastSuccessTimestamp": 1420034938343,
                "lastSuccessDate": "2014-01-23",
                "history": [
                    {
                        "timestamp": 1422034938343,
                        "status": "pending",
                        "id": "209e6be2-8488-4e99-ab9f-3620848cf1d2",
                        "log": "<TODO - JSON with data, error messages, ....>"
                    },
                    {
                        "timestamp": 1421034938343,
                        "status": "running",
                        "id": "199e6be2-8488-4e99-ab9f-3620848cf1c2",
                        "log": "<TODO - JSON with data, error messages, ....>"
                    },
                    {
                        "timestamp": 1420034938343,
                        "status": "OK",
                        "id": "309e6be2-8488-4e99-ab9f-3620848cdf1c",
                        "log": "<TODO - JSON with data, error messages, ....>"
                    },
                    {
                        "timestamp": 1419034938343,
                        "status": "error",
                        "id": "449e6be2-8488-4e99-ab9f-36201c2848cf",
                        "log": "<TODO - JSON with data, error messages, ....>"
                    },
                    {
                        "timestamp": 1418034938343,
                        "status": "OK",
                        "id": "929e6be2-8488-4e99-ab9f-3620848c2cf1",
                        "log": "<TODO - JSON with data, error messages, ....>"
                    }
                ]
            },
            {
                "environment": "test",
                ...
            }
        ]

# Group Exports
## Exports [/accounts/{accountID}/exports]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### listExports [GET]
Lists all exports.

+ Response 200 (application/json)

        [
            {
                "class": "json",
                "destinationURL": "https://example.com/someExport.json",
                "fields": [
                    {
                        "id": "field1",
                        "template": "<%= path.to.persoo.variable %>"
                    },
                    {
                        "id": "field2",
                        "template": "<%= path.to.persoo.variable %>"
                    }
                ],
                "id": "fileVIDs",
                "idType": "_vid",
                "isActive": false,
                "name": "All profiles to JSON",
                "scenarios": [
                    {
                        "id": "products1",
                        "scenarioID": "psGeneral"
                    }
                ]
            }
        ]

### newExport [POST]
Creates a new export.

+ Request (application/json)

        {
            "class": "json",
            "destinationURL": "https://example.com/someExport.json",
            "fields": [
                {
                    "id": "field1",
                    "template": "<%= path.to.persoo.variable %>"
                },
                {
                    "id": "field2",
                    "template": "<%= path.to.persoo.variable %>"
                }
            ],
            "id": "fileVIDs",
            "idType": "_vid",
            "isActive": false,
            "name": "All profiles to JSON",
            "scenarios": [
                {
                    "id": "products1",
                    "scenarioID": "psGeneral"
                }
            ]
        }

+ Response 201

## Export [/accounts/{accountID}/exports/{exportID}]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + exportID (required, string, `exportID`) ... ID of the export
    
### deleteExport [DELETE]
Deletes the export.

+ Response 204

### getExport [GET]
Retrieves informations about the export.

+ Response 200 (application/json)

        {
            "class": "json",
            "destinationURL": "https://example.com/output.json",
            "fields": [
                {
                    "id": "field1",
                    "template": "<%= path.to.persoo.variable %>"
                },
                {
                    "id": "field2",
                    "template": "<%= path.to.persoo.variable %>"
                }
            ],
            "id": "f380c893c788497fbcc5990d19eff98b",
            "idType": "_vid",
            "isActive": false,
            "name": "All profiles to JSON",
            "scenarios": [
                {
                    "id": "products1",
                    "scenarioID": "psGeneral"
                }
            ]
        }

+ Response 404

### updateExport [PUT]
Updates the export.

+ Request (application/json)

        {
            "class": "json",
            "destinationURL": "https://example.com/output.json",
            "fields": [
                {
                    "id": "field1",
                    "template": "<%= path.to.persoo.variable %>"
                },
                {
                    "id": "field2",
                    "template": "<%= path.to.persoo.variable %>"
                }
            ],
            "id": "f380c893c788497fbcc5990d19eff98b",
            "idType": "_vid",
            "isActive": false,
            "name": "All profiles to JSON",
            "scenarios": [
                {
                    "id": "products1",
                    "scenarioID": "psGeneral"
                }
            ]
        }
        
+ Response 200 (application/json)

        {
            "class": "json",
            "destinationURL": "https://example.com/output.json",
            "fields": [
                {
                    "id": "field1",
                    "template": "<%= path.to.persoo.variable %>"
                },
                {
                    "id": "field2",
                    "template": "<%= path.to.persoo.variable %>"
                }
            ],
            "id": "f380c893c788497fbcc5990d19eff98b",
            "idType": "_vid",
            "isActive": false,
            "name": "All profiles to JSON",
            "scenarios": [
                {
                    "id": "products1",
                    "scenarioID": "psGeneral"
                }
            ]
        }

## Run export [/accounts/{accountID}/exports/{exportID}/run?environment={environment}]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + exportID (required, string, `exportID`) ... ID of the export
    + environment (required, string, `production`) ... either `production` or `test`

### runExport [POST]

+ Response 200 (application/json)

        {
            "id": "f25b6c8477114025b6be8ca3e4538f12"
        }

## Export status [/accounts/{accountID}/exports/{exportID}/status]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + exportID (required, string, `exportID`) ... ID of the export
    
### getExportStatus [GET]

+ Response 200 (application/json)

        [
            {
                "environment": "test",
                "history": [
                    {
                        "date": "2016-01-25 02:20:59",
                        "id": "f25b6c8476114025b6be8ca3e4538f13",
                        "report": {
                            "message": "Export finished successfully.",
                            "nodes": {
                                "destinations": {
                                    "f380c893c788497fbcc5990d19eff99cExport_saveItemsToJSON": {
                                        "destinationURL": "https://example.com/output.json",
                                        "input": {
                                            "itemsRead": 0
                                        },
                                        "itemsWritten": 0,
                                        "runningTime": "94 milliseconds",
                                        "runningTimeRaw": 94
                                    }
                                },
                                "operators": {
                                    "f380c893c788497fbcc5990d19eff99cExport_filterProfiles": {
                                        "input": {
                                            "itemsRead": 0
                                        },
                                        "output": {
                                            "itemsWritten": 0
                                        },
                                        "runningTime": "1 milliseconds",
                                        "runningTimeRaw": 1
                                    }
                                },
                                "sources": {
                                    "f380c893c788497fbcc5990d19eff99cExport_readItemsFromCRM": {
                                        "itemsRead": 0,
                                        "output": {
                                            "itemsWritten": 0
                                        },
                                        "runningTime": "1 milliseconds",
                                        "runningTimeRaw": 1
                                    }
                                }
                            },
                            "runningTime": "105 milliseconds",
                            "runningTimeRaw": 105,
                            "status": "success"
                        },
                        "requester": "user",
                        "status": "success",
                        "timestamp": 1453688459356
                    }
                ],
                "lastSuccessDate": "2016-01-25 02:20:59",
                "lastSuccessTimestamp": 1453688459356,
                "status": "green"
            }
        ]

# Group Dataflows
## Dataflows [/accounts/{accountID}/dataflows]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    
### listDataflows [GET]

+ Response 200 (application/json)

        [
            {
                "environments": [
                    "test"
                ],
                "id": "f380c893c788497fbcc5990d29cff98cExport"
            },
            {
                "environments": [
                    "p",
                    "test"
                ],
                "id": "fileVIDsExport"
            }
        ]

## Run dataflow [/accounts/{accountID}/dataflows/{dataflowID}/run?environment={environment}]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + dataflowID (required, string `myDataflow`) ... ID of the dataflow
    + environment (required, string, `production`) ... either `production` or `test`

### runDataflow [POST]
Runs the dataflow.

+ Response 200 (application/json)

        {
            "id": "0c22200b373b414eade7d73ccfc9bc5e"
        }

## Dataflow [/account/{accountID}/dataflows/{dataflowID}/status]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + dataflowID (required, string `myDataflow`) ... ID of the dataflow

### getDataflowStatus [GET]
Retrieves current status of the dataflow. 

+ Response 200 (application/json)

        [
            {
                "environment": "test",
                "history": [
                    {
                        "date": "2016-01-25 02:35:46",
                        "id": "0c22210b373b414eade7d73ccfc9bc5e",
                        "report": {
                            "message": "Dataflow finished successfully.",
                            "nodes": {
                                "destinations": {
                                    "f7981a833f8342719d13b37f56a62f0eExport_saveItemsToJSON": {
                                        "destinationURL": "https://example.com/output.json",
                                        "input": {
                                            "itemsRead": 0
                                        },
                                        "itemsWritten": 0,
                                        "runningTime": "92 milliseconds",
                                        "runningTimeRaw": 92
                                    }
                                },
                                "operators": {
                                    "f7981a833f8342719d13b37f56a62f0eExport_filterProfiles": {
                                        "input": {
                                            "itemsRead": 0
                                        },
                                        "output": {
                                            "itemsWritten": 0
                                        },
                                        "runningTime": "0 milliseconds",
                                        "runningTimeRaw": 0
                                    }
                                },
                                "sources": {
                                    "f7981a833f8342719d13b37f56a62f0eExport_readItemsFromCRM": {
                                        "itemsRead": 0,
                                        "output": {
                                            "itemsWritten": 0
                                        },
                                        "runningTime": "1 milliseconds",
                                        "runningTimeRaw": 1
                                    }
                                }
                            },
                            "runningTime": "105 milliseconds",
                            "runningTimeRaw": 105,
                            "status": "success"
                        },
                        "requester": "user",
                        "status": "success",
                        "timestamp": 1453689346585
                    }
                ],
                "lastSuccessDate": "2016-01-25 02:35:46",
                "lastSuccessTimestamp": 1453689346585,
                "status": "green"
            }
        ]

# Group Scenarios
Scenario is a set of products ids composed of several algorithms.

## Scenarios [/accounts/{accountID}/scenarios]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### listScenarios [GET]
List all scenarios.

+ Response 200 (application/json)

        [
            {
                "id": "f9acbc0c49874d51bf6c70d46ef0cf4c",
                "isActive": true,
                "name": "Homepage - recommended news",
                "abTest": "2ac25fb1ed2248b0a379e4c7d5049ab4",
                "location": {
                    "mode": "replace",
                    "onPageType": "Homepage",
                    "onURL": "",
                    "selector": "#box1",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "0",
                        "logic": {
                            "count": 10,
                            "minCount": 3,
                            "fallbacks": [
                                {
                                    "ref": "6d29428f00c54fd1a02a22cafa989546"
                                }
                            ]
                        },
                        "name": "<variant name>",
                        "template": "<% /* var products = products_alternatives; */ %>\n<div class=\"persooRecommendation\">\n    <h2>Recommendation name</h2>\n    <div>\n    <% for(i=0; i < products.length && i < 8;i++){ %>\n            <div class=\"product\" style=\"width:180px; height:250px; float: left;\">\n                <a href=\"<%= products[i].link %>\">\n                        <img src=\"<%= products[i].imageLink %>\" alt=\"<%= products[i].title %>\" style=\"max-height:150px;max-width:150px;\">\n                        <span class=\"title\"><%= products[i].title %> KÄ</span><br>\n                        <span class=\"price\"><%= products[i].price %> KÄ</span>\n                </a>\n            </div>\n    <% } %>\n    </div>\n</div>"
                    }
                ]
            },
            {
                "id": "e23fc94bbcc947f5aa4872c5fc04966b",
                "isActive": true,
                "name": "Homepage - recommendation",
                "abTest": null,
                "location": {
                    "mode": "replace",
                    "onPageType": "Homepage",
                    "onURL": "",
                    "selector": "#box4",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "0",
                        "logic": {
                            "count": 10,
                            "minCount": 3,
                            "fallbacks": []
                        },
                        "name": "<variant name>",
                        "template": "<html template>"
                    }
                ]
            },
            {
                "id": "2d5d11011d1444a29cc71d05e06f161d",
                "isActive": true,
                "name": "Detail - alternatives",
                "abTest": null,
                "location": {
                    "mode": "replace",
                    "onPageType": "Product",
                    "onURL": "",
                    "selector": "#box2",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "0",
                        "logic": {
                            "count": 10,
                            "minCount": 3,
                            "fallbacks": [
                                {
                                    "ref": "6d29428f00c54fd1a02a22cafa989546"
                                }
                            ]
                        },
                        "name": "<variant name>",
                        "template": "<html template>"
                    }
                ]
            },
            {
                "id": "cf8920281e0341058474fb2dd47b4fff",
                "isActive": true,
                "name": "Detail - crosssell",
                "abTest": null,
                "location": {
                    "mode": "replace",
                    "onPageType": "Product",
                    "onURL": "",
                    "selector": "#containerId",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "0",
                        "logic": {
                            "count": 10,
                            "minCount": 3,
                            "fallbacks": []
                        },
                        "name": "<variant name>",
                        "template": "<html template>"
                    }
                ]
            },
            {
                "id": "40aed0f057294e10bb6ba0fcb8f77050",
                "isActive": true,
                "name": "Basket - crosssell",
                "abTest": null,
                "location": {
                    "mode": "replace",
                    "onPageType": "Category",
                    "onURL": "",
                    "selector": "#box3",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "0",
                        "logic": {
                            "count": 10,
                            "minCount": 3,
                            "fallbacks": []
                        },
                        "name": "<variant name>",
                        "template": "<html template>"
                    }
                ]
            },
            {
                "id": "239b49caad3946ecb295b96d4c972d9f",
                "isActive": true,
                "name": "Page footer - last viewed products",
                "abTest": null,
                "location": {
                    "mode": "replace",
                    "onPageType": "category",
                    "onURL": ".*",
                    "selector": "#tab .products",
                    "selectorClass": "query"
                },
                "variants": [
                    {
                        "condition": "true",
                        "id": "default",
                        "logic": {
                            "count": 4,
                            "minCount": 3,
                            "fallbacks": [
                                {
                                    "ref": "6d29428f00c54fd1a02a22cafa989546"
                                }
                            ]
                        },
                        "name": "default",
                        "template": "<% /* var products = products_alternatives; */ %>\n<div class=\"persooRecommendation\">\n    <h2>Recommendation name</h2>\n    <div>\n    <% for(i=0; i < products.length && i < 8;i++){ %>\n            <div class=\"product\" style=\"width:180px; height:250px; float: left;\">\n                <a href=\"<%= products[i].link %>\">\n                        <img src=\"<%= products[i].imageLink %>\" alt=\"<%= products[i].title %>\" style=\"max-height:150px;max-width:150px;\">\n                        <span class=\"title\"><%= products[i].title %> KÃÂÃÂ</span><br>\n                        <span class=\"price\"><%= products[i].price %> KÃÂÃÂ</span>\n                </a>\n            </div>\n    <% } %>\n    </div>\n</div>"
                    }
                ]
            }
        ]

### newScenario [POST]
Create a new scenario.
+ Request (application/json)

        {
            "name": "Best Sellers",
            "isActive": true,
            "abTest": null,
            "location": {
                "selectorClass": "query",
                "selector": "#tab .products",
                "mode": "replace",
                "onPageType": "Category",
                "onURL": "<regExp>"
            },
            "variants": [
                {
                    "id": "0",
                    "name": "<variant name>",
                    "condition": "true",
                    "template": "<html template>",
                    "logic": {
                        "count": 10,
                        "minCount": 3,
                        "fallbacks": [
                            {
                               "ref": "6d29428f00c54fd1a02a22cafa989546"
                            },
                            {
                               "ref": "b1bb18a943454f3f89357b56b284ef77"
                            }
                        ]
                    }
                }
            ]
        }

+ Response 201 (application/json)

        {
            "id": "f9acbc0c49874d51bf6c70d46ef0cf4c",
            "name": "Best Sellers",
            "isActive": true,
            "abTest": null,
            "location": {
                "selectorClass": "query",
                "selector": "#tab .products",
                "mode": "replace",
                "onPageType": "Category",
                "onURL": "<regExp>"
            },
            "variants": [
                {
                    "id": "0",
                    "name": "<variant name>",
                    "condition": "true",
                    "template": "<html template>",
                    "logic": {
                        "count": 10,
                        "minCount": 3,
                        "fallbacks": [
                            {
                               "ref": "6d29428f00c54fd1a02a22cafa989546"
                            },
                            {
                               "ref": "b1bb18a943454f3f89357b56b284ef77"
                            }
                        ]
                    }
                }
            ]
        }

## Scenario [/accounts/{accountID}/scenarios/{scenarioID}]
A single scenario object with all its details.

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + scenarioID (required, string, `f9acbc0c49874d51bf6c70d46ef0cf4c`) ... ID of the scenario to perform the action on

### getScenario [GET]
Retrieve a scenario.

+ Response 200 (application/json)

        {
            "id": "f9acbc0c49874d51bf6c70d46ef0cf4c",
            "name": "Best Sellers",
            "isActive": true,
            "abTest": null,
            "location": {
                "selectorClass": "query",
                "selector": "#tab .products",
                "mode": "replace",
                "onPageType": "Category",
                "onURL": "<regExp>"
            },
            "variants": [
                {
                    "id": "0",
                    "name": "<variant name>",
                    "condition": "true",
                    "template": "<html template>",
                    "logic": {
                        "count": 10,
                        "minCount": 3,
                        "fallbacks": [
                            {
                               "ref": "6d29428f00c54fd1a02a22cafa989546"
                            },
                            {
                               "ref": "b1bb18a943454f3f89357b56b284ef77"
                            }
                        ]
                    }
                }
            ]
        }
        
+ Response 404

        {
            "errors": [
                "message": "Recommendation scenario not found."
            ]
        }


### updateScenario [PUT]
Update a scenario.

The request may contain the field `id`, which is ignored; `scenarioID` is used instead.

+ Request (application/json)

        {
            "id": "anyString",
            "name": "Best Selling Products",
            "isActive": false,
            "abTest": null,
            "location": {
                "selectorClass": "query",
                "selector": "#tab .products",
                "mode": "replace",
                "onPageType": "Category",
                "onURL": "<regExp>"
            },
            "variants": [
                {
                    "id": "0",
                    "name": "<variant name>",
                    "condition": "true",
                    "template": "<html template>",
                    "logic": {
                        "count": 10,
                        "minCount": 3,
                        "fallbacks": [
                            {
                               "ref": "7854436109d24de1a332a14a59c5a5c7"
                            }
                        ]
                    }
                }
            ]
        }
        
+ Response 200 (application/json)

        {
            "id": "f9acbc0c49874d51bf6c70d46ef0cf4c",
            "name": "Best Selling Products",
            "isActive": false,
            "abTest": null,
            "location": {
                "selectorClass": "query",
                "selector": "#tab .products",
                "mode": "replace",
                "onPageType": "Category",
                "onURL": "<regExp>"
            },
            "variants": [
                {
                    "id": "0",
                    "name": "<variant name>",
                    "condition": "true",
                    "template": "<html template>",
                    "logic": {
                        "count": 10,
                        "minCount": 3,
                        "fallbacks": [
                            {
                               "ref": "7854436109d24de1a332a14a59c5a5c"
                            }
                        ]
                    }
                }
            ]
        }
        
+ Response 404

        {
            "errors": [
                "message": "Recommendation scenario not found."
            ]
        }


### deleteScenario [DELETE]
Delete a scenario.

+ Response 204

+ Response 404

        {
            "errors": [
                "message": "Recommendation scenario not found."
            ]
        }
        
## Scenarios statistics [/accounts/{accountID}/scenarios/statistics?timestampFrom={timestampFrom}&timestampTo={timestampTo}]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + timestampFrom (required, long, `43932000`) ... start the statistics with the day containing this timestamp (in UTC)
    + timestampTo (required, long, `300000000`) ... end the statistics with the day containing this timestamp (in UTC)

### getScenariosStatistics [GET]
Get daily statistics for all scenarios.

If a metric isn't available for a particular day, `null` is used instead of a number value.

Metrics in the root level are the metrics for all variants aggregated. (The values in the example below are random and don't respect this.)

+ Response 200 (application/json)

        [
            {
                "id": "e23fc94bbcc947f5aa4872c5fc04966b",
                "timestamps": [
                    0,
                    86400000,
                    172800000,
                    259200000
                ],
                "dates": [
                    "1970-01-01",
                    "1970-01-02",
                    "1970-01-03",
                    "1970-01-04"
                ],
                "metrics": {
                    "clicks": [
                        null,
                        null,
                        799,
                        950
                    ],
                    "impressions": [
                        null,
                        null,
                        3251,
                        5428
                    ],
                    "someOtherMetric1": [
                        null,
                        null,
                        0.9095407241692913,
                        0.40087619631713756
                    ],
                    "someOtherMetric2": [
                        null,
                        null,
                        -216,
                        -51
                    ]
                },
                "variants": {
                    "0": {
                        "metrics": {
                            "clicks": [
                                null,
                                null,
                                1500,
                                1444
                            ],
                            "impressions": [
                                null,
                                null,
                                1088,
                                1273
                            ],
                            "someOtherMetric1": [
                                null,
                                null,
                                0.49225843350585785,
                                0.562467127770878
                            ],
                            "someOtherMetric2": [
                                null,
                                null,
                                422,
                                806
                            ]
                        }
                    },
                    "1": {
                        "metrics": {
                            "clicks": [
                                null,
                                null,
                                1700,
                                1676
                            ],
                            "impressions": [
                                null,
                                null,
                                3088,
                                1773
                            ],
                            "someOtherMetric1": [
                                null,
                                null,
                                0.49225843350585785,
                                0.562467127770878
                            ],
                            "someOtherMetric2": [
                                null,
                                null,
                                422,
                                806
                            ]
                        }
                    }
                }
            },
            {
                "id": "a35c73fbb9c84152bddb15a4b6c5bd98",
                "timestamps": [
                    0,
                    86400000,
                    172800000,
                    259200000
                ],
                "dates": [
                    "1970-01-01",
                    "1970-01-02",
                    "1970-01-03",
                    "1970-01-04"
                ],
                "metrics": {
                    "clicks": [
                        643,
                        null,
                        null,
                        950
                    ],
                    "impressions": [
                        4112,
                        null,
                        null,
                        4354
                    ],
                    "someOtherMetric1": [
                        0.1593870380526593,
                        null,
                        null,
                        0.2735065237536176
                    ],
                    "someOtherMetric2": [
                        -123,
                        null,
                        null,                        
                        -43
                    ]
                },
                "variants": {
                    "0": {
                        "metrics": {
                            "clicks": [
                                3221,
                                null,
                                null,
                                421
                            ],
                            "impressions": [
                                432,
                                null,
                                null,
                                511
                            ],
                            "someOtherMetric1": [
                                0.43912250908729766,
                                null,
                                null,
                                0.2646019266493288
                            ],
                            "someOtherMetric2": [
                                421,
                                null,
                                null,
                                763
                            ]
                        }
                    },
                    "1": {
                        "metrics": {
                            "clicks": [
                                4211,
                                null,
                                null,
                                1981
                            ],
                            "impressions": [
                                914,
                                null,
                                null,
                                7531
                            ],
                            "someOtherMetric1": [
                                0.7504501949201073,
                                null,
                                null,
                                0.545216574297256
                            ],
                            "someOtherMetric2": [
                                321,
                                null,
                                null,
                                637
                            ]
                        }
                    }
                }
            }
        ]

## Scenario statistics [/accounts/{accountID}/scenarios/{scenarioID}/statistics?timestampFrom={timestampFrom}&timestampTo={timestampTo}]

+ Parameters
    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + scenarioID (required, string, `f9acbc0c49874d51bf6c70d46ef0cf4c`) ... ID of the scenario to get the statistics of
    + timestampFrom (required, long, `43932000`) ... start the statistics with the day containing this timestamp (in UTC)
    + timestampTo (required, long, `300000000`) ... end the statistics with the day containing this timestamp (in UTC)

### getScenarioStatistics [GET]
Get daily statistics for a scenario.

If a metric isn't available for a particular day, `null` is used instead of a number value.

Metrics in the root level are the metrics for all variants aggregated. (The values in the example below are random and don't respect this.)

+ Response 200 (application/json)

        {
            "id": "e23fc94bbcc947f5aa4872c5fc04966b",
            "timestamps": [
                0,
                86400000,
                172800000,
                259200000
            ],
            "dates": [
                "1970-01-01",
                "1970-01-02",
                "1970-01-03",
                "1970-01-04"
            ],
            "metrics": {
                "clicks": [
                    null,
                    null,
                    799,
                    950
                ],
                "impressions": [
                    null,
                    null,
                    3251,
                    5428
                ],
                "someOtherMetric1": [
                    null,
                    null,
                    0.9095407241692913,
                    0.40087619631713756
                ],
                "someOtherMetric2": [
                    null,
                    null,
                    -216,
                    -51
                ]
            },
            "variants": {
                "0": {
                    "metrics": {
                        "clicks": [
                            null,
                            null,
                            1500,
                            1444
                        ],
                        "impressions": [
                            null,
                            null,
                            1088,
                            1273
                        ],
                        "someOtherMetric1": [
                            null,
                            null,
                            0.49225843350585785,
                            0.562467127770878
                        ],
                        "someOtherMetric2": [
                            null,
                            null,
                            422,
                            806
                        ]
                    }
                },
                "1": {
                    "metrics": {
                        "clicks": [
                            null,
                            null,
                            1700,
                            1676
                        ],
                        "impressions": [
                            null,
                            null,
                            3088,
                            1773
                        ],
                        "someOtherMetric1": [
                            null,
                            null,
                            0.49225843350585785,
                            0.562467127770878
                        ],
                        "someOtherMetric2": [
                            null,
                            null,
                            422,
                            806
                        ]
                    }
                }
            }
        }

+ Response 404

        {
            "errors": [
                "message": "Recommendation scenario not found."
            ]
        }

# Group Algorithms
Algorithms is base recommendation computation logic.

## Algorithms [/accounts/{accountID}/algorithms]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### listAlgorithms [GET]
List all algorithms.
+ Response 200 (application/json)

        [
            {
                "id": "6d29428f00c54fd1a02a22cafa989546", 
                "name": "Algorithm 1", 
                "class": "ProductSearch",
                "config": {
                    "must": [
                        {
                            "id": "categoryIsCurrentCategory"
                        },
                        {
                            "id": "productIsCurrentProduct"
                        },
                        {
                            "id": "myCustomSignal",
                            "name": "My custom title",
                            "config": {
                                "myField": {"$lt": "db.products.inBasket"}
                            }
                        }
                    ],
                    "mustNot": [
                        {
                            "id": "productIsInBasket"
                        }
                    ],
                    "should": [
                        { 
                            "id": "productAlsoViewedWithCurrentProduct", 
                            "value": 0
                        }
                    ]
                }
            },
            {
                "id": "b1bb18a943454f3f89357b56b284ef77", 
                "name": "Algorithm 2",
                "class": "lastViewed",
                "config": {}
            },
            {
                "id": "7854436109d24de1a332a14a59c5a5c7", 
                "name": "Algorithm 3",
                "class": "custom",
                "config": {
                    "customKey1": "customValue1",
                    "customKey2": "customValue2"
                }
            },
            {
                "id": "7981b9398bb44950a7dd0c063bd58785", 
                "name": "Algorithm 4",
                "class": "custom",
                "config": {}
            },
            {
                "id": "341d4a16646948bb9ed7444523196b1f", 
                "name": "Algorithm Modgen",
                "class": "Modgen",
                "config": {
                    "type": "userBased",
                    "count": 20,
                    "filterTemplate": "\"<%= lastEvent.categoryID %>\" in 'CATEGORIES'",
                    "boostTemplate": "",
                    "diversity": 0.0
                }
            }
        ]

### newAlgorithm [POST]
Create a new algorithm.
+ Request (application/json)

        { 
            "name": "Algorithm Product Search",
            "class": "ProductSearch",
            "config": {
                "must": [
                    {
                        "id": "categoryIsCurrentCategory"
                    },
                    {
                        "id": "productIsCurrentProduct"
                    },
                    {
                        "id": "myCustomSignal",
                        "name": "My custom title",
                        "config": {
                            "myField": {"$lt": "db.products.inBasket"}
                        }
                    }
                ],
                "mustNot": [
                    {
                        "id": "productIsInBasket"
                    }
                ],
                "should": [
                    { 
                        "id": "productAlsoViewedWithCurrentProduct", 
                        "value": 0
                    }
                ]
            } 
        }

+ Response 201 (application/json)

        {
            "id": "0c6b2cd1cb714cf5860f3d8e83c31a8e",
            "name": "Algorithm Product Search",
            "class": "ProductSearch",
            "config": {
                "must": [
                    {
                        "id": "categoryIsCurrentCategory"
                    },
                    {
                        "id": "productIsCurrentProduct"
                    },
                    {
                        "id": "myCustomSignal",
                        "name": "My custom title",
                        "config": {
                            "myField": {"$lt": "db.products.inBasket"}
                        }
                    }
                ],
                "mustNot": [
                    {
                        "id": "productIsInBasket"
                    }
                ],
                "should": [
                    { 
                        "id": "productAlsoViewedWithCurrentProduct", 
                        "value": 0
                    }
                ]
            } 
        }

## Algorithm [/accounts/{accountID}/algorithms/{algorithmID}]
A single algorithm object with all its details

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + algorithmID (required, string, `0c6b2cd1cb714cf5860f3d8e83c31a8e`) ... ID of the algorithm to perform the action on

### getAlgorithm [GET]
Retrieve an algorithm.
+ Response 200 (application/json)

        { 
            "id": "0c6b2cd1cb714cf5860f3d8e83c31a8e", 
            "name": "Algorithm Product Search",
            "class": "ProductSearch",
            "config": {
                "must": [
                    {
                        "id": "categoryIsCurrentCategory"
                    },
                    {
                        "id": "productIsCurrentProduct"
                    },
                    {
                        "id": "myCustomSignal",
                        "name": "My custom title",
                        "config": {
                            "myField": {"$lt": "db.products.inBasket"}
                        }
                    }
                ],
                "mustNot": [
                    {
                        "id": "productIsInBasket"
                    }
                ],
                "should": [
                    { 
                        "id": "productAlsoViewedWithCurrentProduct", 
                        "value": 0
                    }
                ]
            } 
        }

### updateAlgorithm [PUT]
Update an algorithm.

The request may contain the field `id`, which is ignored; `algorithmID` is used instead.

+ Request (application/json)

        { 
            "id": "anyString", 
            "name": "Algorithm for searching products",
            "class": "ProductSearch",
            "config": {
                "must": [
                    {
                        "id": "categoryIsCurrentCategory"
                    },
                    {
                        "id": "productIsCurrentProduct"
                    },
                    {
                        "id": "myCustomSignal",
                        "name": "My custom title",
                        "config": {
                            "myField": {"$lt": "db.products.inBasket"}
                        }
                    }
                ],
                "mustNot": [
                    {
                        "id": "productIsInBasket"
                    }
                ],
                "should": [
                    { 
                        "id": "productAlsoViewedWithCurrentProduct", 
                        "value": 0
                    }
                ]
            } 
        }
        
+ Response 200 (application/json)

        { 
            "id": "0c6b2cd1cb714cf5860f3d8e83c31a8e", 
            "name": "Algorithm for searching products",
            "class": "ProductSearch",
            "config": {
                "must": [
                    {
                        "id": "categoryIsCurrentCategory"
                    },
                    {
                        "id": "productIsCurrentProduct"
                    },
                    {
                        "id": "myCustomSignal",
                        "name": "My custom title",
                        "config": {
                            "myField": {"$lt": "db.products.inBasket"}
                        }
                    }
                ],
                "mustNot": [
                    {
                        "id": "productIsInBasket"
                    }
                ],
                "should": [
                    { 
                        "id": "productAlsoViewedWithCurrentProduct", 
                        "value": 0
                    }
                ]
            } 
        }
        
+ Response 404

        {
            "errors": [
                "message": "Recommendation algorithm not found."
            ]
        }

### deleteAlgorithm [DELETE]
Delete an algorithm.
+ Response 204

+ Response 404

        {
            "errors": [
                "message": "Recommendation algorithm not found."
            ]
        }
        
# Group AB tests

## AB tests [/accounts/{accountID}/abTests]

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on

### listABTests [GET]
List all AB tests.

+ Response 200 (application/json)

        [
            {
                "id": "2ac25fb1ed2248b0a379e4c7d5049ab4",
                "name": "New shopping tray features evaluation",
                "isActive": true,
                "variants": [
                    {
                        "id": "A",
                        "name": "Old-style shopping tray",
                        "weight": 50,
                        "winner": true,
                        "baseline": true
                    },
                    {
                        "id": "B",
                        "name": "New-style shopping tray",
                        "weight": 50,
                        "winner": false,
                        "baseline": false
                    }
                ]
            },
            {
                "id": "b9e0ab6e9d184606982e33b66749d6b1",
                "name": "Persoo evaluation",
                "isActive": false,
                "variants": [
                    {
                        "id": "A",
                        "name": "Persoo off",
                        "weight": 50,
                        "winner": false,
                        "baseline": true
                    },
                    {
                        "id": "B",
                        "name": "Simple product recommendation",
                        "weight": 50,
                        "winner": true,
                        "baseline": false
                    },
                    {
                        "id": "C",
                        "name": "Personalized product recommendation",
                        "weight": 50,
                        "winner": false,
                        "baseline": false
                    }
                ]
            }
        ]

### newABTest [POST]
Create a new AB test.

+ Request (application/json)

        {
            "name": "New layout evaluation",
            "isActive": true,
            "variants": [
                {
                    "id": "A",
                    "name": "Old layout",
                    "weight": 50,
                    "winner": true,
                    "baseline": true
                },
                {
                    "id": "B",
                    "name": "New layout",
                    "weight": 50,
                    "winner": false,
                    "baseline": false
                }
            ]
        }

+ Response 201 (application/json)

        {
            "id": "98e6bed351ed47c1878bd8af9374434d",
            "name": "New layout evaluation",
            "isActive": true,
            "variants": [
                {
                    "id": "A",
                    "name": "Old layout",
                    "weight": 50,
                    "winner": true,
                    "baseline": true
                },
                {
                    "id": "B",
                    "name": "New layout",
                    "weight": 50,
                    "winner": false,
                    "baseline": false
                }
            ]
        }

## AB test [/accounts/{accountID}/abTests/{abTestID}]
A single AB test object with all its details.

+ Parameters

    + accountID (required, string, `4959bc0ab5f24ac2a9688908adaf9e24`) ... ID of the account to perform the action on
    + abTestID (required, string, `98e6bed351ed47c1878bd8af9374434d`) ... ID of the AB test to perform the action on

### getABTest [GET]
Retrieve an AB test.

+ Response 200 (application/json)

        {
            "id": "98e6bed351ed47c1878bd8af9374434d",
            "name": "New layout evaluation",
            "isActive": true,
            "variants": [
                {
                    "id": "A",
                    "name": "Old layout",
                    "weight": 50,
                    "winner": true,
                    "baseline": true
                },
                {
                    "id": "B",
                    "name": "New layout",
                    "weight": 50,
                    "winner": false,
                    "baseline": false
                }
            ]
        }

+ Response 404

        {
            "errors": [
                "message": "AB test not found."
            ]
        }

### updateABTest [PUT]
Update an AB test.

The request may contain the field `id`, which is ignored; `abTestID` is used instead.

+ Request (application/json)

        {
            "id": "anyString",
            "name": "Evaluation of the new layout",
            "isActive": false,
[...]
